body{
	 background-image: url("img/mikan.jpg");
    style="font-weight:bold;
    font-family:"UD デジタル 教科書体","ＭＳ 明朝",sans-serif;
}
h2{
	color:red;
	background : #FFFFCC;
	text-align : center;
}

p{
    text-align: center;
    font-weight:bold;
}

table{
	border:1px blue solid;
	border-collapse:collapse;
	background-color:rgba(236, 29, 143, 0.288);
	font-family:"UD デジタル 教科書体","ＭＳ 明朝",sans-serif;
}

th{
	border:1px blue solid;
	padding:8px;
	background: #d3c7c7;
}
td{
	border:1px blue solid;
	padding:8px;
}
.go1{
	width: 300px;
	height: 400px;
}
.go2{
	width: 300px;
	height: 400px;
}
.go3{
	width: 300px;
	height: 400px;
}
.fu{
	font-weight:bold;
}
.na{
	font-weight:bold;
}
.ha{
	width: 100px;
	text-align: center
}
.su{
	width: 150px;
}